In [113]:
# Load the CSV file 
import pandas as pd 
df = pd.read_csv('Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [11]:
# Find the columns of Dataframe
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
# Filter the Data based on given Data 
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [25]:
# Describe the DataFrame Columns 
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [30]:
# Sorting the Value based on the passing columns and order 
df.sort_values(['Name','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [59]:
# Filter Data 
#filter_data = df.loc[df['Type 1'] == ('Grass')]

# Filter with and condition 
#filter_data = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] 

# Filter with OR condition
filter_data = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

filter_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [61]:
# Reset Index 
filter_data_index = filter_data.reset_index(drop=True)
filter_data_index

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
85,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
86,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
87,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
88,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [66]:
# Filter Data with Name contains 
#filter_name = df.loc[df['Name'].str.contains('Mega')]

# Passing multiple name 
import re
#filter_name = df.loc[df['Name'].str.contains('Mega | Char', regex = True )]

# Passing Regukar Expression 
filter_name = df.loc[df['Name'].str.contains('^Pi[a-z]*',regex=True)] 

filter_name

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [69]:
# conditon Changes 
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [71]:
# conditon base updation of value 
#df.loc[df['Total'] > 500, ['Generation','Legendary']] = 'Test Value'
df.loc[df['Total'] > 500, ['Generation','Legendary']] = [1,False]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,1,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,1,False
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,1,False
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,1,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,1,False

In [107]:
# Aggregate Statistics (Group by) 
df.sort_values('HP').groupby(['Type 1','Type 2'])
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,1,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,1,False
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,1,False
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,1,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,1,False

In [98]:
# calculating the sum based on Type 1 using group by clause
s=df.groupby('Type 1').sum()
s

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,26146,3925,4897,4880,3717,4471,4256,208,0
Dark,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,13818,2071,2740,2177,2314,2155,2361,95,0
Dragon,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,17617,2666,3588,2764,3099,2843,2657,66,0
Electric,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,19510,2631,3040,2917,3961,3243,3718,103,0
Fairy,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,7024,1260,1046,1117,1335,1440,826,52,0
Fighting,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,11244,1886,2613,1780,1434,1747,1784,75,0
Fire,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,23820,3635,4408,3524,4627,3755,3871,126,0
Flying,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,1940,283,315,265,377,290,410,9,0
Ghost,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,14066,2062,2361,2598,2539,2447,2059,119,0
Grass,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,29480,4709,5125,4956,5425,4930,4335,191,0
Ground,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,14000,2361,3064,2715,1807,2008,2045,70,0
Ice,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,10403,1728,1746,1714,1861,1831,1523,64,0
Normal,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,39365,7573,7200,5865,5470,6245,7012,264,0
Poison,7050,EkansArbokNidoran♀NidorinaNidoqueenNidoran♂Nid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,11176,1883,2091,1927,1692,1803,1780,70,0
Psychic,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,27129,4026,4073,3858,5609,4918,4645,146,0
Rock,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,19965,2876,4086,4435,2787,3321,2460,113,0
Steel,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,13168,1761,2503,3412,1823,2177,1492,69,0
Water,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,48211,8071,8305,8170,8379,7898,7388,275,0

In [114]:
# add the count column in Data Frame and update the count value based on the Count function
df['count'] = 1
count = df.groupby('Type 1').count()['count']
count

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64